.kanban-board {
    display: flex;
    justify-content: space-around;
  }
  
  .group-count {
    font-size: 14px;
    color: #999; /* Lighter font color */
    font-weight: lighter;
    margin-left: 5px; /* Add margin for spacing */
  }
  
  .column-heading {
    font-size: 14px; /* Adjust the font size as needed */
    font-weight: lighter;
    margin-left: 5px; /* Adjust the margin as needed */
  }
  